@using RideshareAdmin.Console.AdminLte
@using RideshareAdmin.Console.Models
@model UserDetailViewModel
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Application User Detials</h3>
    </div>
    <!-- /.box-header -->
 
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>@item.userName</td>
                        <td>@item.firstname</td>
                        <td>@item.lastname</td>
                        <td> @item.email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
