@*
    This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
       TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@
@{

    ViewBag.Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<header class="main-header">
    <!-- Logo -->
    <a href="" class="logo navbar-fixed-top"><b>RideShare</b>Admin</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        @using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="http://vplus/mysite/User%20Photos/Profile%20Pictures/kthiruchelvam_LThumb.jpg?t=63599939197" class="user-image" alt="User Image" />
                        <span class="hidden-xs">@User.Identity.GetUserName()</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                            <p>
                                @User.Identity.GetUserName()
                                <small>Admin- RideShare</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                
                                <button type="button" class="btn btn-default btn-flat" onclick="javascript: document.getElementById('logoutForm').submit()"> Log off </button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
          
        </div>
    }

}
       
    </nav>
</header>